In [36]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd 
df = pd.read_csv('datasets/lego_sets.csv')
df

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [37]:
df.duplicated().sum()

44

In [38]:
df.drop_duplicates()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11975,NaN,NaN,2010,442.0,NaN,Harry Potter
11976,NaN,NaN,2012,44.0,NaN,Super Heroes
11978,NaN,NaN,2004,485.0,NaN,Super Heroes
11979,NaN,NaN,2016,561.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [39]:
df.isna().sum()

set_num          153
name             153
year               0
num_parts       5060
theme_name       153
parent_theme       0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11986 entries, 0 to 11985
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11986 non-null  int64
 3   num_parts     6926 non-null   float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 562.0+ KB

In [41]:
df.describe()

               year    num_parts
count  11986.000000  6926.000000
mean    2002.304772   163.782558
std       13.471680   334.206873
min     1950.000000    -1.000000
25%     1997.000000    10.250000
50%     2006.000000    46.000000
75%     2013.000000   173.000000
max     2017.000000  5922.000000

In [42]:
df['num_parts'].mean()

163.78255847531042

In [43]:
df.dropna(subset=['name'],inplace = True)
df.isna().sum()

set_num            0
name               0
year               0
num_parts       4998
theme_name         0
parent_theme       0
dtype: int64

In [44]:
df['num_parts'].fillna(df['num_parts'].mean(),inplace = True)
df.isna().sum()

set_num         0
name            0
year            0
num_parts       0
theme_name      0
parent_theme    0
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11833 entries, 0 to 11832
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   set_num       11833 non-null  object
 1   name          11833 non-null  object
 2   year          11833 non-null  int64
 3   num_parts     11833 non-null  float64
 4   theme_name    11833 non-null  object
 5   parent_theme  11833 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 647.1+ KB

In [46]:
df.columns

Index(['set_num', 'name', 'year', 'num_parts', 'theme_name', 'parent_theme'], dtype='object')

In [47]:
the_force = df[df['theme_name'] == 'Star Wars']['set_num']
the_force

44           10018-1
638          11912-1
1886       2853835-1
2013         30058-1
2014         30059-1
            ...
11761     SW911617-1
11764     SW911722-1
11767     SW911725-1
11787    TRUFALCON-1
11802     TRUXWING-2
Name: set_num, Length: 211, dtype: object

In [48]:
parent_themes = pd.read_csv('datasets/parent_themes.csv')
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [49]:
lego_joined = df.merge(parent_themes,how='left',left_on = 'parent_theme',right_on = 'name',suffixes=('','_y'))
lego_joined.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.000000,Castle,Legoland,411,Legoland,False
1,0011-2,Town Mini-Figures,1978,162.149086,Supplemental,Town,50,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,162.149086,Lion Knights,Castle,186,Castle,False
3,0012-1,Space Mini-Figures,1979,12.000000,Supplemental,Space,126,Space,False
4,0013-1,Space Mini-Figures,1979,12.000000,Supplemental,Space,126,Space,False

In [50]:
all_sets = len(lego_joined[lego_joined['is_licensed']==True])
all_sets

1179

In [51]:
star_wars_licensed = lego_joined[(lego_joined['parent_theme'] == 'Star Wars') & (lego_joined['is_licensed'] == True)]

In [52]:
len(star_wars_licensed)

609

In [53]:
ratio = len(star_wars_licensed)/all_sets
the_force = int(ratio*100)
print(the_force)

51

In [54]:
licensed_set = lego_joined[lego_joined['is_licensed']==True]
licensed_set

,set_num,name,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
44,10018-1,Darth Maul,2001,1868.000000,Star Wars,Star Wars,158,Star Wars,True
45,10019-1,Rebel Blockade Runner - UCS,2001,162.149086,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
54,10026-1,Naboo Starfighter - UCS,2002,162.149086,Star Wars Episode 1,Star Wars,158,Star Wars,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.000000,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
95,10075-1,Spider-Man Action Pack,2002,25.000000,Spider-Man,Super Heroes,482,Super Heroes,True
...,...,...,...,...,...,...,...,...,...
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.000000,Star Wars Episode 1,Star Wars,158,Star Wars,True
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.000000,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.000000,Star Wars Episode 1,Star Wars,158,Star Wars,True
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.000000,Star Wars Episode 1,Star Wars,158,Star Wars,True
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,162.149086,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True

In [55]:
licensed_pivot = licensed_set.pivot_table(index='year',columns='parent_theme',values='set_num',aggfunc='count')
licensed_pivot

parent_theme,Angry Birds,Avatar,Ben 10,Cars,Disney,Disney Princess,Disney's Mickey Mouse,Ghostbusters,Harry Potter,Indiana Jones,...,Pirates of the Caribbean,Prince of Persia,Scooby-Doo,SpongeBob SquarePants,Star Wars,Super Heroes,Teenage Mutant Ninja Turtles,The Hobbit and Lord of the Rings,The Lone Ranger,Toy Story
year,,,,,,,,,,,,,,,,,,,,,
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,28.0,3.0,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,32.0,5.0,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,20.0,6.0,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,28.0,1.0,NaN,NaN,NaN,NaN
2006,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,11.0,8.0,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,2.0,16.0,2.0,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,...,NaN,NaN,NaN,3.0,23.0,5.0,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,2.0,39.0,NaN,NaN,NaN,NaN,NaN
2010,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,6.0,NaN,NaN,30.0,NaN,NaN,NaN,NaN,15.0
2011,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,8.0,NaN,...,16.0,NaN,NaN,2.0,32.0,5.0,NaN,NaN,NaN,NaN
2012,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,43.0,32.0,2.0,20.0,NaN,NaN
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,19.0,9.0,13.0,8.0,NaN
2014,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,23.0,10.0,6.0,NaN,NaN
2015,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,58.0,28.0,NaN,1.0,NaN,NaN
2016,6.0,NaN,NaN,NaN,1.0,11.0,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,61.0,33.0,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,55.0,72.0,NaN,NaN,NaN,NaN

In [56]:
yearly_max = licensed_pivot.max(axis='columns')
yearly_max

year
1999    13.0
2000    26.0
2001    14.0
2002    28.0
2003    32.0
2004    20.0
2005    28.0
2006    11.0
2007    16.0
2008    23.0
2009    39.0
2010    30.0
2011    32.0
2012    43.0
2013    35.0
2014    45.0
2015    58.0
2016    61.0
2017    72.0
dtype: float64

In [57]:
filtered_max = licensed_pivot[licensed_pivot['Star Wars']<yearly_max]
filtered_max

parent_theme,Angry Birds,Avatar,Ben 10,Cars,Disney,Disney Princess,Disney's Mickey Mouse,Ghostbusters,Harry Potter,Indiana Jones,...,Pirates of the Caribbean,Prince of Persia,Scooby-Doo,SpongeBob SquarePants,Star Wars,Super Heroes,Teenage Mutant Ninja Turtles,The Hobbit and Lord of the Rings,The Lone Ranger,Toy Story
year,,,,,,,,,,,,,,,,,,,,,
2017,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,55.0,72.0,NaN,NaN,NaN,NaN

In [58]:
most_popular_sets = licensed_set.groupby('year')['parent_theme'].agg(pd.Series.mode)
most_popular_sets

year
1999       Star Wars
2000       Star Wars
2001       Star Wars
2002       Star Wars
2003       Star Wars
2004       Star Wars
2005       Star Wars
2006       Star Wars
2007       Star Wars
2008       Star Wars
2009       Star Wars
2010       Star Wars
2011       Star Wars
2012       Star Wars
2013       Star Wars
2014       Star Wars
2015       Star Wars
2016       Star Wars
2017    Super Heroes
Name: parent_theme, dtype: object

In [59]:
for year, theme in most_popular_sets.groupby(level = 0):
    if 'Star wars' not in theme.values:
        new_era = year
new_era

2017